package_data/__pycache__/data.cpython-38.pyc
package_def/__pycache__/add.cpython-38.pyc
package_def/__pycache__/people.cpython-38.pyc
tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/test_add.cpython-38-pytest-7.1.3.pyc
tests/__pycache__/test_all.cpython-38-pytest-7.1.3.pyc
tests/__pycache__/test_people.cpython-38-pytest-7.1.3.pyc
tests/__pycache__/test_shelf.cpython-38-pytest-7.1.3.pyc

